<nav>
    <ul>
        <li><a>
            Home
            </a>
        </li>
        <li><a>
            Property List
            </a>
        </li>
        <li><a>
            Add Property
            </a>
        </li>
        <li><a>
            Log in
            </a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
